[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/synthetix-v3"]
	path = lib/synthetix-v3
	url = https://github.com/Synthetixio/synthetix-v3
